// :host {
//     display: flex;
//     align-items: center;
// }
form {
    width: 330px;
}

input[type="email"].code {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
